/* Menu CSS Start*/
.menuContainer {
  font-family: 'Karla';
  background-color: #f8f8f8;
  width: 100%; /* Full width */
  position: fixed; /* Fixed position - sit on top of the page */
  top: 0;
  transition: all 0.2s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-rendering: optimizeLegibility;
}

.menuContainer a {
  float: left;
  color: #2c2c2c;
  padding: 1% 1%;
  text-decoration: none;
  font-size: 100%;
  font-weight:bold;
  text-transform: uppercase;
  transition: 0.2s;
}

.menuContainer a:hover {
  color: #606b77;
  border-bottom: 3px solid #e8491d;
}

#socialid1 {
  float: right;
}

/* Menu CSS End*/
